# Binaries
*.exe
*.exe~
*.dll
*.so
*.so.*
*.dylib

# Test binary
*.test

# Output of the go coverage tool
*.out
.coverage

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Build
rate-limiter
dist/

# Environment
.env
.env.local
.env.*.local

# Docker
docker-compose.override.yml

# Dependencies
vendor/

# volume data
.data/